@import 'header';
@import 'home';
@import 'about';
@import 'photography';
@import 'contact';
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.content {
    width: 100%;
    height: 100%;
    section {
        width: 100%;
        height: 100%;
    }
}